.footer-mainContainer
{
    background: #464646;
    color: #fff;
    padding: 20px 180px 50px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    font-family: Satoshi-Variable;
}
.footer-container
{
    width: 90%;
    margin: 0 auto;
    max-width: 1080px;
    padding: 40px 0;
}
.rights
{
    margin-bottom: 2rem;
}
.footer-end{
    font-size: 14px;
}