@import url('//fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body
{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.full_container
{
    position: relative;
    width: 100%;
}
.top_container{
    width: 90%;
    max-width: 1080px;
    /* border: 2px solid red; */
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.75rem;
}
.banner
{
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
}
 h1{
    font-size: 20px;
    color: #0d0d0e;
    line-height: 128%;
    font-weight: 600;
}
 h2{
    font-family: Lato Regular;
    color: #4d4d4f;
    font-size: 14px;
    line-height: 140%;
    font-weight: 400;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}


